@font-face {
    font-family: myFont;
    src: local("Tahoma"), url("../fonts/Tahoma.ttf") format("truetype"),
    local("Helvetica"), url("../fonts/Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: myFont;
    src: local("Tahoma-Bold"), url("../fonts/Tahoma-Bold.ttf") format("truetype"),
    local("Helvetica-Bold"), url("../fonts/Helvetica-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    /*Background color is a gradient of three colors and fixed so it doesn't repeat.
      Text color is white. Sets text fonts and specifies line height.*/
    /*font-family: 'Tahoma', 'Helvetica', sans-serif;*/
    font-family: myFont, sans-serif;
    background-color: #d7d7d7;
    color: black;
    line-height: 1.2rem;
    margin: 0;
    border: 0;
    padding: 0;
}

#top-navbar {
    display: flex;
    align-items: center;
    background-color: #15284d;
    flex-wrap: wrap;
    width: 100%;
    height: 2rem;
    z-index: 5;    
    position: fixed;
    top: 0;
}

#top-navbar > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#top-right-nav {
    text-align: right;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0;
    height: 100%
}

#top-right-nav > * {
    padding-left: 0.33rem;
    padding-right: 0.33rem;
    height: 100%
}

#top-right-nav .top-right-item {
    transition: background 0.33s;
    max-height: 100%;
    display: flex;
    align-items: center;
}

#top-right-nav .top-right-item a {
    transition: color 0.33s;
}

#top-right-nav .top-right-item:hover {
    background: #d7d7d7;
    max-height: 100%;
}

#top-right-nav .top-right-item:hover a {
    color: #15284d;
}

#top-navbar, #footer {
    /*Make text in headers and footers smaller and bold*/
    font-weight: bold;
    font-size: 0.75rem;
    width: 100%;
}

#top-navbar a, #top-navbar a:hover, #top-navbar a:visited, #top-navbar a:active,
#sidebar a, #sidebar a:hover, #sidebar a:visited, #sidebar a:active {
    /*Link color in headers*/
    color: #d7d7d7;
    text-decoration: none;
}

.shadow {
    box-shadow: 5px 5px 10px #0e2450;
}

#sidebar {
    width: 20%;
    margin: 0;
    background: #15284d;
    color: #d7d7d7;
    position: fixed;
    top: 2rem;
    z-index: 2;
}

#sidebar ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
    text-align: left;
}

#sidebar li {
    list-style-type: none;
    display: block;
    transition: background-color 0.33s;
}


#sidebar a {
    height: 100%;
    width: 100%;
    transition: color 0.33s;
}

.sidebar-link {
    display: flex;
    align-items: center;
}


#sidebar li:hover {
    background-color: #d7d7d7;
}

#sidebar li:hover a {
    color: #15284d;
}

footer {
    /*Align text in center and live some space from main content*/
    text-align: center;
    margin-top: 2rem;
    /*height: 5%;*/
    position: relative;
    /*Grid position spans all columns and is in the last row*/
    grid-area: 4/1/5/3;
}

footer a,
footer a:hover,
footer a:visited,
footer a:active {
    /*Link color for footers*/
    color: #2e5193;
}

#opening-hours {
    /*Position and space around for opening hours*/
    float: right;
    margin-right: 2rem;
}

main {
    /*Align text in center*/
    text-align: center;
}

#main-container {
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 3rem;
    display: block;
}

.card {
    color: #000;
    background-color: #ffffff;
    padding: 1rem;
}

#main-logo {
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    /*Header's color*/
    color: #161e2a;
}

a, a:hover, a:visited, a:active {
    /*Link color*/
    color: #2e5193;
    text-decoration: none;
}

#filter {
    width: 21%;
    margin: 0;
    position: fixed;
    top: 8rem;
    z-index: 2;
}

#filter label {
    display: inline-block;
    width: 8rem;
}

#filter form {
    text-align: center;
    margin-left: 0.3rem;
    padding-left: 0;
}

form {
    /*Text color and alignment. Border, width and space around inside form. Space left outside the form*/
    text-align: left;
    border: 2px solid #2e5193;
    padding: 0.5rem;
    margin: 1rem;
}

fieldset {
    /*Space around fieldset*/
    padding: 0.5rem;
}

input {
    /*Specifies input's width*/
    margin: 0.1rem;
    border-radius: 0.4rem;
}

input:required + span::before{
    content: "*";
    color: red;
}

input:required:user-invalid{
    border: 2px solid #ce3838;
    background-color: #d58787;
}

input:required:placeholder-shown{
    background-color: white;
    border: 2px solid;
    border-color: #939393 #d5d4d4 #d5d4d4 #939393;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.flex-container,
.flex-column-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-column-container {
    flex-direction: column;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.align-items-start{
    align-items: start;
}

.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: end;
}

.to-inline-block {
    /*Make element inline block*/
    display: inline-block;
}

.cart {
    /*Width for cart and make button do nothing*/
    width: 1.3rem;
    pointer-events: none;
}

.icon {
    /*Width for icons*/
    width: 1rem;
}

.no-bull {
    /*Make lists have no bullets*/
    list-style-type: none;
}

.shadow {
    box-shadow: 5px 5px 10px #0e2450;
}

.material-icons, #main-logo {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.text-center{
    text-align: center;
}

.display-none{
    display: none !important;
}

.w-33{
    width: 33%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

#cart-size {
    position: fixed;
    right: 2.3rem;
    top: 0.2rem;
    background-color: #d7d7d7;
    padding: 0.12rem;
    z-index: 6;
    height: 0.5rem;
    line-height: 0.4rem;
    border-radius: 1rem;
    color: #15284d;
    font-size: 0.8rem;
}

#error-area{
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    border-radius: .25rem;
    margin-top: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* // Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {

    #sidebar {
        display: none;
    }

    #main-container{
        margin-left: 5%;
        margin-top: 7rem;
    }


    #top-navbar {
        height: auto;
    }

    #shop-name, #search-bar {
        flex: 1 0 60%;
        width: 100%; 
        justify-self: center;
    }

    #search-bar{
        height: 1.5rem;
    }

    #shop-name {
        padding-top: 0.5rem;
        text-align: center;
        height: 2rem;
    }

    #top-right-nav {
        flex: 1 0 100%;
        width: 100%;
        justify-self: center;
        height: 2rem;
    }

    #top-right-nav .top-right-item {
        flex-grow: 1;
        justify-self: center;
        justify-content: center;
    }

    #cart-size {
        left: 50%;
        right: auto;
        top: 4.8rem;

    }

}

/*For phones*/
@media screen and (max-width: 576px) {


    ul {
        padding-left: 0.5rem;
    }

    h3 {
        margin: 0.5rem;
    }

}
