<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Categories</title>
    <meta charset="UTF-8">

    <!-- Load the Handlebars library. The Handlebars object is 
    now available in the rest of the scripts -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <!--
        Load the JS code for the page. The code is located inside the public folder.
        However, express serves this content under root path (see appropriate command in index.js)
    -->
    <script src="../static/js/main.js" type="text/javascript"></script>
    <script src="../static/js/pageSetUp.js" type="text/javascript"></script>

    <!--
        Load CSS stylesheets from folder public/css/style.css.
        Express serves this content, also, under the root path.
    -->
    <link href="../static/images/icons/icon1.png" rel="icon" type="image/png">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/categories.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,500,0..1,-50..200"
          rel="stylesheet"/>
    
    <script id="products-content" type="text/x-handlebars-template">
        {{>header}}
        {{>sidebar}}
        
        <main id="main-container">
            <div id="main-content">
                <section id="product-list">
                    <header id="product-category-name">
                        <h1>{{cat_name}}</h1>
                    </header>
                    
                    <ul class="no-bull ">
                        {{# each product}}
                            <li class="product card" data-subcategory-id="{{this.subcategory_id}}">
                                <div class="product-image-pos">
                                    <img src="{{this.image}}" alt="product-image">
                                </div>
                                <div class="flex-g-1 product-desc">
                                    <article class="product-header-text">
                                        <h3>{{this.title}}&nbsp;&nbsp;{{this.cost}} $</h3>
                                        {{this.description}}
                                    </article>
                                </div>
                                <div class="product-header-text add-to-cart-pos">
                                    <button class="addtocart" type="button">Προσθήκη</button>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </section>
            </div>
        </main>
        
        {{>footer}}
    </script>
    
    <script id="product-filter" type="text/x-handlebars-template">
        <aside id="filter">
            <form method="get">
                <label for="all">All</label>
                <input id="all" name="sub-category" type="radio" value="all" checked>
                {{# each subCategory}}
                    <br>
                    <label for="{{this.id}}">{{this.title}}</label>
                    <input id="{{this.id}}" name="sub-category" type="radio" value="{{this.id}}">
                {{/each}}
            </form>
        </aside>
    </script>
    
    <script type="text/javascript">
        const category_id = new URLSearchParams(window.location.search).get('categoryId')
        const category_name = new URLSearchParams(window.location.search).get('categoryName');
        console.log(category_id, category_name)
        window.onload = function() {
            fetch("https://wiki-shop.onrender.com/categories/" + category_id + "/products")
                    .then((data) => data.json())
                    .then((productData) => {
                                let template = document.getElementById("products-content").textContent;
                                let compiledTemplate = Handlebars.compile(template);
                                let content = compiledTemplate({product: productData, cat_name: category_name});
                                document.querySelector("body").innerHTML += content;
                            }
                    )
                    .then(() =>{
                        fetch("https://wiki-shop.onrender.com/categories/" + category_id + "/subcategories")
                                .then((data) => data.json())
                                .then((subCategoriesData) => {
                                            let template = document.getElementById("product-filter").textContent;
                                            let compiledTemplate = Handlebars.compile(template);
                                            let content = compiledTemplate({subCategory: subCategoriesData});
                                            document.querySelector("body").innerHTML += content;
                                        }
                                )
                                .then(() => {
                                            // console.log(document.querySelectorAll("input[name='sub-category']"));
                                            document.querySelectorAll("input[name='sub-category']").forEach((filter) => {
                                                filter.addEventListener("click", function(event) {
                                                    let item = event.target.value;
                                                    // console.log(document.querySelectorAll('li.product'));
                                                    document.querySelectorAll('li.product').forEach((elem) => {
                                                        // console.log("item: " + item);
                                                        // console.log("elem sub-cat: " + elem.dataset.subcategoryId);
                                                        if(elem.dataset.subcategoryId === item || item === 'all'){
                                                            elem.classList.remove("display-none");
                                                        }
                                                        else{
                                                            elem.classList.add("display-none");
                                                        }
                                                    });
                                                });
                                            });
                                        }
                                )
                    })
        }
    </script>

</head>

<body>

</body>

</html>