<div id="sidebar">
    <ul>
        <li>
            <a class="sidebar-link" href="categories.html">
                <span class="material-icons material-symbols-outlined">
                smartphone
                </span>
                ΚΑΤΗΓΟΡΙΑ 1 </a>
        </li>

        <li>
            <a class="sidebar-link" href="categories.html">
                <span class="material-icons material-symbols-outlined">
                computer
                </span>
                ΚΑΤΗΓΟΡΙΑ 2 </a>
        </li>

        <li>
            <a class="sidebar-link" href="categories.html">
                <span class="material-icons material-symbols-outlined">
                desktop_windows
                </span>
                ΚΑΤΗΓΟΡΙΑ 3 </a>
        </li>

        <li>
            <a class="sidebar-link" href="categories.html">
                <span class="material-icons material-symbols-outlined">
                headphones
                </span>
                ΚΑΤΗΓΟΡΙΑ 4 </a>
        </li>
    </ul>
</div>