2022 Wiki Shop
<br><br>
<nav>
    <span class="material-symbols-outlined">
    call
    </span>
    210 1234567 &nbsp;
    <a href="https://www.youtube.com/"><img alt="youtube logo" class="icon"
                                            src="../static/images/icons/youtube.png"> Youtube &nbsp;</a>
    <a href="https://www.facebook.com/"><img alt="facebook logo" class="icon"
                                             src="../static/images/icons/facebook.ico"> Facebook
        &nbsp;</a>
    <a href="https://www.instagram.com/"><img alt="instagram logo" class="icon"
                                              src="../static/images/icons/instagram.png"> Instagram
        &nbsp;</a>
</nav>
<div id="opening-hours">
    <span class="material-symbols-outlined">
        nest_clock_farsight_analog
    </span>
    Ωράριο λειτουργίας: &nbsp; <br>
    <ul class="to-inline-block no-bull">
        <li>ΔΕΥ: 09:00 - 17:00</li>
        <li>ΤΡΙ: 09:00 - 21:00</li>
        <li>ΤΕΡ: 09:00 - 17:00</li>
    </ul>
    <ul class="to-inline-block no-bull">
        <li>ΠΕΜ: 09:00 - 21:00</li>
        <li>ΠΑΡ: 09:00 - 21:00</li>
        <li>ΣΑΒ: 09:00 - 15:00</li>
    </ul>
</div>