<header class="shadow" id="top-navbar">
    <span id="shop-name">
        <a href="/" id="main-logo">
            Wiki Shop
        </a>
    </span>

    <input id="search-bar" type="text">

    <div id="top-right-nav">
        <div class="top-right-item">
            <a href="/" id="categories-link">
                <span class="material-icons material-symbols-outlined">
                    home
                </span>
            </a>
        </div>

        <div class="top-right-item">
            <a href="/cart">
                <span class="material-icons material-symbols-outlined">
                    shopping_cart
                </span>
            </a>
        </div>

        <div class="top-right-item">
            <a>
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </a>
        </div>
    </div>
</header>