<aside class="shadow" id="sidebar">
    <ul>
        <li>
            <a class="sidebar-link" href="/categories?categoryId=1&categoryName=Apparel">
                <span class="material-icons material-symbols-outlined">
                checkroom
                </span>
                APPAREL </a>
        </li>

        <li>
            <a class="sidebar-link" href="/categories?categoryId=2&categoryName=Accessories">
                <span class="material-icons material-symbols-outlined">
                shelves
                </span>
                ACCESSORIES </a>
        </li>

        <li>
            <a class="sidebar-link" href="/categories?categoryId=3&categoryName=Kids">
                <span class="material-icons material-symbols-outlined">
                toys
                </span>
                KIDS </a>
        </li>
<!-- 
        <li>
            <a class="sidebar-link" href="/categories?categoryId=4">
                <span class="material-icons material-symbols-outlined">
                headphones
                </span>
                ΚΑΤΗΓΟΡΙΑ 4 </a>
        </li> -->
    </ul>
</aside>